<div class="row">
  <h2>About Me</h2>
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="/static/img/deshraj.png" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
    <ul class="content">
      <li>Research Fellow at <a href="https://www.wadhwaniai.org/">Wadhwani AI</a></li>
      <li>(Former) Research Intern at <a href="https://research.adobe.com/research/">Adobe Research, India</a></li>
      <li>B.S. in Mathematics and Scientific Computing, IIT Kanpur</li>
    </ul>
    <p class="content">I work at a unique org with the mission of AI for Social Good: To leverage AI to help the next 5 billion people.
      I am interested in 3D Computer vision (particularly related to human motion), learning from audio-video etc. On the side, I also loves Bayesian inference.
    </p>

    <p class="content">Important links:

      <a class="btn btn-social-icon btn-github" target="_blank" href="https://github.com/bpiyush">
        <span class="fa fa-github"></span>
      </a>

      <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/bagad_piyush" target="_blank">
        <span class="fa fa-twitter"></span>
      </a>

      <a class="btn btn-social-icon btn-facebook" target="_blank" href="http://facebook.com/piyush.bagad9">
        <span class="fa fa-facebook"></span>
      </a>
  </div>
</div>
