  <div class="row">
    <h2>Publications</h2>
    <hr>
    <div class="row">

      <!-- Sample paper -->
      <div class="col-sm-12">
          <h3 class="content_heading">Sample paper title</h3>
          <p class="content">
              <p class="pubd">
                  <span class="authors">Authors</span>
                  <br><span class="conf"><a href="sample-arziv.link">arXiv preprint</a></span>
                  <br>
              </p>
          </p>

        <p>
          <a href="https://github.com/Cloud-CV/Fabrik" class="white-text"><button type="button" class="btn btn-primary ribbon">Github repository</button></a>
        </p>
      </div>

      </div>
    </div>
  </div>
